
body{
        margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#content{
    flex:1;
      display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  padding: 20px;
}

.weather-card{
    padding: 1em;
    color: white;
    height: 10vh;
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* background: border-box; */
    background-color: black;

}

.weather-label{
    flex:1;
}

footer{
        padding: 1em;
    text-align: center;
    background: black;
    color: white;
}

header{
        color: white;
    padding: 2em;
    background-color: black;
}

nav{
        display: flex;
    justify-content: space-between;
}